body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:593px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:614px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:26px;
  width:514px;
  height:614px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:299px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:209px;
  width:82px;
  height:25px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:233px;
  width:273px;
  height:17px;
  font-size:12px;
  color:#FF0000;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:511px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:256px;
  width:342px;
  height:511px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:248px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:112px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:470px;
  width:274px;
  height:112px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:92px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:466px;
  width:70px;
  height:92px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-decoration:underline;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:234px;
  width:45px;
  height:16px;
  font-size:11px;
  text-decoration:underline;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:294px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:287px;
  width:362px;
  height:294px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:139px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
