body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  height:688px;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:12px;
  width:953px;
  height:688px;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:949px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:155px;
  width:100px;
  height:25px;
}
#u1481_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
