body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:778px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:652px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:778px;
  height:652px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:318px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:431px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:179px;
  width:530px;
  height:431px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.909803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:516px;
  width:170px;
  height:60px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:461px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:150px;
  width:1px;
  height:460px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:222px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:537px;
  width:53px;
  height:18px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:216px;
  width:100px;
  height:25px;
}
#u1338_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:179px;
  width:197px;
  height:20px;
  font-size:14px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
