body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1508px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:639px;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:120px;
  width:1470px;
  height:639px;
}
#u1566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:1466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:79px;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:691px;
  width:293px;
  height:79px;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:734px;
  width:1463px;
  height:106px;
}
#u1569_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1463px;
  height:106px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:703px;
  width:61px;
  height:28px;
  font-size:20px;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:880px;
  width:319px;
  height:28px;
  font-size:20px;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u1574_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:901px;
  width:200px;
  height:2px;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
